---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
  <nav class="navbar navbar-light bg-white shadow-sm px-4">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
      
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img src="/images/logo-espacio-elementos.png" alt="Espacio Elementos" width="300" />
      </a>

      <!-- Navegación principal (visible en desktop) -->
      <ul id="menu" class="nav d-none d-md-flex justify-content-center flex-grow-1">
        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
        <li class="nav-item"><a class="nav-link" href="#nosotros">NOSOTROS</a></li>
        <li class="nav-item"><a class="nav-link" href="#servicios">SERVICIOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#talleres">TALLERES</a></li>
        <li class="nav-item"><a class="nav-link" href="#equipo">EQUIPO</a></li>
        <li class="nav-item"><a class="nav-link" href="#testimonios">TESTIMONIOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#noticias">NOTICIAS</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">CONTACTO</a></li>
      </ul>

      <!-- Redes sociales -->
      <div class="d-flex align-items-center gap-3">
        <a href="https://www.instagram.com/espacio.elementos" target="_blank" aria-label="Instagram">
          <img src="/images/rrss/instagram.png" alt="Instagram" width="50" />
        </a>
        <a href="https://www.facebook.com/espacio.elementos.rengo" target="_blank" aria-label="Facebook">
          <img src="/images/rrss/facebook.png" alt="Facebook" width="50" />
        </a>
        <a href="https://www.youtube.com/@EspacioElementos" target="_blank" aria-label="YouTube">
          <img src="/images/rrss/youtube.png" alt="YouTube" width="50" />
        </a>
      </div>

      <!-- Menú hamburguesa (mobile) -->
      <button
        class="navbar-toggler d-md-none mt-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mobileNav"
        aria-controls="mobileNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Menú móvil colapsable -->
    <div class="collapse d-md-none" id="mobileNav">
      <ul class="nav flex-column px-3">
        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
        <li class="nav-item"><a class="nav-link" href="#nosotros">NOSOTROS</a></li>
        <li class="nav-item"><a class="nav-link" href="#servicios">SERVICIOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#talleres">TALLERES</a></li>
        <li class="nav-item"><a class="nav-link" href="#equipo">EQUIPO</a></li>
        <li class="nav-item"><a class="nav-link" href="#testimonios">TESTIMONIOS</a></li>
        <li class="nav-item"><a class="nav-link" href="#noticias">NOTICIAS</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">CONTACTO</a></li>
      </ul>
    </div>
  </nav>
</header>
